<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css"
 href={{ url_for('static', filename='style.css') }}>
<title>React Multi Group/Item Query Selector</title>
</head>

<body>
<div class='selector-container'></div>
<script type="text/javascript" src={{ url_for('static', filename='app.js') }}></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            window.QuerySelector = new QuerySelector.init(
                document.getElementsByClassName('selector-container')[0],
                {{ config|safe }}
            );
        });
    </script>
</body>

</html>
